.form-border {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-top: -15px !important;
  margin: auto;
  padding: 20px;
  height: fit-content;
  width: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  background-color: #fff;
}
