.container {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  align-items: center;
  height: 100vh;
  max-width: 150px;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  background-color: #29353c;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.35);
  border-radius: 8px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  margin-top: 1.4rem;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0.3rem 0px;
  text-align: center;
  margin-bottom: 1.4rem;
  padding-left: 15px;
  gap: 0.4rem;
  color: #fff;
  text-decoration: none;
}
li:nth-of-type(5) .link {
  padding-top: 7.4rem;
}
li:last-of-type .link {
  padding-top: 5.4rem;
}

.social-act-wallet {
  background-color: #f3f4f7;
  border-radius: 10px;
  padding: 0.3rem 0.5rem;
  font-size: 1.2rem;
  width: 110px;
  text-align: center;
  height: fit-content;
  margin-top: 1.4rem;
}

@media only screen and (max-width: 600px) {
  .title {
    display: none;
  }
  li:nth-of-type(5) .link {
    display: none;
  }
  li:last-of-type .link {
    padding-top: 14.4rem;
  }
  .container {
    width: 50px;
  }
  .link {
    padding-left: 0px;
  }
}
